@model RapModel.ViewModel.LACViewModel
@{
    ViewBag.Title = "Lac Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string powerUser = "d-none";
    //string topograph = "d-none";

    if (Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-ADM") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-LO"))
    {
        powerUser = "";
    }

    if (Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-ADM") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-TOPO"))
    {
        //topograph = "";
    }
}

<h2>Lac Details</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-xlg">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title text-primary fw-semi-bold">Details</h4>
                    <a href="#" class="btn btn-dark btn-rounded-f" id="addAttachment"><i class="fas fa-paperclip"></i> Add Attachment </a>
                </div>
                <hr />
                <div class="card-body">
                    <div style="display:none">
                        <input type="text" id="lacRequestIDField" value="@Model.LACRequestId" />
                        <input type="text" id="lacIdField" value="@Model.LACId" />
                        <input type="text" id="landIdField" value="@Model.LandID" />
                    </div>
                    <table>
                        <tbody class="card-text">
                            <tr style="display:none">
                                <td><p><strong> Lac Request ID </strong></p></td>
                                <td><p> : </p></td>
                                <td><p> @Html.DisplayFor(model => model.LACRequestId)</p></td>
                            </tr>
                            <tr style="display:none">
                                <td><p><strong> LAC ID </strong></p></td>
                                <td><p> : </p></td>
                                <td><p> @Html.DisplayFor(model => model.LACId)</p></td>
                            </tr>
                            <tr>
                                <td><p><strong> LAC ID </strong></p></td>
                                <td><p> : </p></td>
                                <td><p> @Html.DisplayFor(model => model.LAC_ID)</p></td>
                            </tr>
                            <tr>
                                <td><p><strong> LAC Name </strong></p></td>
                                <td><p> : </p></td>
                                <td><p> @Html.DisplayFor(model => model.LACName)</p></td>
                            </tr>
                            <tr>
                                <td><p><strong> LAC Status </strong></p></td>
                                <td><p> : </p></td>
                                <td><p> @Html.DisplayFor(model => model.LacStatusString)</p></td>
                            </tr>

                            <tr>
                                <td><p><strong> Project Requestor </strong></p></td>
                                <td><p> : </p></td>
                                <td><p> @Html.DisplayFor(model => model.AuthorizedDateString)</p></td>
                            </tr>
                            <tr>
                                <td><p><strong> Project Region </strong></p></td>
                                <td><p> : </p></td>
                                <td><p> @Html.DisplayFor(model => model.RegionName)</p></td>
                            </tr>
                            <tr>
                                <td><p><strong> Authorized Area </strong></p></td>
                                <td><p> : </p></td>
                                <td><p> @Html.DisplayFor(model => model.AuthorizedAreaSizeString)</p></td>
                            </tr>
                            <tr>
                                <td><p><strong> Requested Area </strong></p></td>
                                <td><p> : </p></td>
                                <td><p> @Html.DisplayFor(model => model.AreaRequestedSize)</p></td>
                            </tr>
                            <tr>
                                <td><p><strong> Compensed Area </strong></p></td>
                                <td><p> : </p></td>
                                <td><p> @Html.DisplayFor(model => model.AreaCompensedString)</p></td>
                            </tr>
                            <tr>
                                <td><p><strong> Real Cost </strong></p></td>
                                <td><p> : </p></td>
                                <td><p> @Html.DisplayFor(model => model.Realcosts)</p></td>
                            </tr>
                            <tr>
                                <td><p><strong> Estimated Cost </strong></p></td>
                                <td><p> : </p></td>
                                <td><p> @Html.DisplayFor(model => model.CostEstimate)</p></td>
                            </tr>
                            <tr>
                                <td><p><strong> PAP Number </strong></p></td>
                                <td><p> : </p></td>
                                <td><p> @Html.DisplayFor(model => model.PAPs)</p></td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tr>
                            <td><p><strong> Land Details </strong></p></td>
                            <td>
                                <table>
                                    <tr>
                                        <td><p>Project Name</p></td>
                                        <td><p> : </p></td>
                                        <td><p> @Html.DisplayFor(model => model.LandRequest.ProjectName)</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>Cost Code</p></td>
                                        <td><p> : </p></td>
                                        <td><p> @Html.DisplayFor(model => model.LandRequest.ProjectCostCode)</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>Work Description</p></td>
                                        <td><p> : </p></td>
                                        <td><p> @Html.DisplayFor(model => model.LandRequest.WorkDescription)</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>Contact Person</p></td>
                                        <td><p> : </p></td>
                                        <td><p> @Html.DisplayFor(model => model.LandRequest.ContactPerson)</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>Requestor Name</p></td>
                                        <td><p> : </p></td>
                                        <td><p> @Html.DisplayFor(model => model.LandRequest.RequestorName)</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>Requestor Department</p></td>
                                        <td><p> : </p></td>
                                        <td><p> @Html.DisplayFor(model => model.LandRequest.RequestorDepartment)</p></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><p><strong> Attachments :</strong></p></td>
                            <td>
                                <table id="tableAttachment">
                                    <tbody>
                                        @foreach (var item in Model.AttachmentsDocuments)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="#" id="removeFile"><i class="fas fa-trash text-danger"></i></a>
                                                    <a href="#" id="downloadFile"><i class="fas fa-download"></i></a>
                                                    <input type="hidden" value="@item.AttachmentId" class="attachmentID" />
                                                    <input type="hidden" value="@item.LandId" class="landID" />
                                                    <input type="hidden" value="@item.LacId" class="lacID" />
                                                </td>
                                                <td> @Html.DisplayFor(a => item.RequestAttachementFile)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr />
                <div class="d-flex text-center">
                    <p>
                        <a href="/Land/LacList" class="btn btn-dark btn-rounded-f @powerUser"><i class="fas fa-backward"></i> Back </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="card mb-xlg">
            <div class="card-body">
                <h4 class="card-title text-primary fw-semi-bold">Land Points</h4>
                <hr />
                <div class="form-group row">
                    <label for="landPoint" class="col-md-2 form-control-label text-md-left">GPS File</label>
                    <div class="col-md-10">
                        <input id="landPoint" name="landPoint" type="file">
                    </div>
                    <div id="kv-error-1" style="margin-top:10px;display:none"></div>
                    <div id="kv-success-1" class="alert alert-success" style="margin-top:10px;display:none"></div>
                </div>
                <div class="dataTables_wrapper form-inline no-footer">
                    <table class="table table-striped table-hover nowrap table-responsive dataTable" id="tablePoint">
                        <thead class="no-bd">
                            <tr>
                                <th>Action</th>
                                <th>Point Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Elevation</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="card mb-xlg">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title text-primary fw-semi-bold"> List of PAP</h4>
                    <a href="#" class="btn btn-dark btn-rounded-f" id="addPapToLac"><i class="fas fa-user-plus"></i> Add PAP </a>
                </div>
                <hr />
                <div class="dataTables_wrapper form-inline no-footer">
                    <table class="table table-striped table-hover no-footer nowrap" id="tablePapLac">
                        <thead class="no-bd">
                            <tr>
                                <th></th>
                                <th>PAP ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Residence</th>
                                <th>Picture</th>
                                <th>File ID</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card mb-xlg">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title text-primary fw-semi-bold"> Including Restricted Area</h4>
                    <a href="#" class="btn btn-dark btn-rounded-f" id="addToRestrictedArea"><i class="fas fa-link"></i> Add Restricted Area </a>
                </div>
                <hr />
                <div class="dataTables_wrapper form-inline no-footer">
                    <table class="table table-striped table-hover nowrap table-responsive dataTable" id="tableLacRestrictedArea">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Restricted</th>
                                <th>Department</th>
                                <th>Region</th>
                                <th>Area Surface</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card mb-xlg">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title text-primary fw-semi-bold"> Impacted Villages</h4>
                    <a href="#" class="btn btn-dark btn-rounded-f" id="addImpactedVillage"><i class="fas fa-map-marker-alt"></i> Add Impacted Village </a>
                </div>
                <hr />
                <div class="dataTables_wrapper form-inline no-footer">
                    <table class="table table-striped table-hover no-footer nowrap" id="tableVillage">
                        <thead class="no-bd">
                            <tr>
                                <th>Action</th>
                                <th>Village</th>
                                <th>Region</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@* ADD ATTACHMENT MODAL *@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="addAttachmentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Attachments </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="addAttachmentModalErrors">
                    <ul style="margin: 0">
                        <li>Some sample alert</li>
                    </ul>
                </div>
                <div class="form-group" style="display:none">
                    <label for="LandRequestId" class="col-md-3 form-control-label text-md-right">Land Request Id</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="LandId">
                        <input type="text" class="form-control" id="LacId">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fileNameList" class="col-md-3 form-control-label text-md-right">Attachments</label>
                    <div class="col-md-9">
                        <div class="file-loading">
                            <input id="fileNameList" name="fileNameList" multiple type="file" class="file" data-show-preview="false" data-theme="fas" data-show-upload="false" data-show-cancel="false" data-el-Error-Container="#fileNameList-errors">
                        </div>
                        <div id="fileNameList-errors"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addAttachments">Add Attachments</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@* ADD IMPACTED RESTRICTED AREA *@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="addImpactedLACModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Link LAC to Restricted Area</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="addImpactedLACModalErrors">
                    <ul style="margin: 0">
                        <li>Some sample alert</li>
                    </ul>
                </div>
                <div class="form-group" style="display:none">
                    <label for="LacID" class="col-md-3 form-control-label text-md-right">LAC Id</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="LacID">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="LandID" class="col-md-3 form-control-label text-md-right">Restricted Area Name</label>
                    <div class="col-md-9">
                        <select class="form-control" id="LandID" data-placeholder="Restricted Area"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addLAC"><i class="fas fa-link"></i> Link Area</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@* ADD IMPACTED VILLAGE FOR A SPECIFIC LAND *@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="addImpactedVillageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Impacted Village</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="addImpactedVillageModalErrors">
                    <ul style="margin: 0">
                        <li>Some sample alert</li>
                    </ul>
                </div>
                <div class="form-group" style="display:none">
                    <label for="LandRequestId" class="col-md-3 form-control-label text-md-right">Land Request Id</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="LandRequestId">
                        <input type="text" class="form-control" id="LandId">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="villageId" class="col-md-3 form-control-label text-md-right">Village</label>
                    <div class="col-md-9">
                        <select class="form-control" id="villageId" data-placeholder="Village"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addVillage">Add Village</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- ADD PAP TO A LAC -->
<div class="modal" id="addPAPLACModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <div class="d-flex justify-content-between">
                        <h5 class="modal-title" id="addPAPLACModalTitle"><string>Pre-Survey on LAC</string></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="w-100 text-center">
                        <div class='step'></div>
                        <div class='step'></div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-row alert alert-danger hiden" style="display:none" id="papSurveyorError"></div>
                <input type="text" id="lacID" style="display:none" />

                <div class='wizard-tab' stepname='step1'>
                    <div class="form-group row">
                        <label for="presurveyorCode" class="col-md-3 form-control-label text-md-right">Pre-Survey</label>
                        <div class="col-md-9 row">
                            <input type="text" id="presurveyorCode" class="form-control col-md-3" data-placement="top" placeholder="Surveyor Code" required>
                            <input type="date" id="presurveyorDate" class="form-control col-md-6" data-placement="top" placeholder="Date..">
                            <input type="text" id="presurveyorGPS" class="form-control col-md-2" data-placement="top" placeholder="GPS" required>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between align-items-center">
                        <h6><i class="fas fa-user"></i> PAP Details</h6>
                        <span class="small">#1</span>
                    </div>
                    <hr>
                    <div class="form-row alert alert-danger hiden" style="display:none" id="papDetailsError"></div>
                    <div class="form-group row">
                        <label for="firstName" class="col-md-4 form-control-label text-md-right">First Name</label>
                        <div class="col-md-8">
                            <input type="hidden" id="PersonId" class="form-control reset" data-placement="top" placeholder="First Name">
                            <input type="text" id="firstName" class="form-control reset" data-placement="top" placeholder="Add here the First Name..">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-md-4 form-control-label text-md-right">Last Name</label>
                        <div class="col-md-8">
                            <input type="text" id="lastName" class="form-control reset" data-placement="top" placeholder="Add here the Last Name..">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="middleName" class="col-md-4 form-control-label text-md-right">Middle Name</label>
                        <div class="col-md-8">
                            <input type="text" id="middleName" class="form-control reset" data-placement="top" placeholder="Add here the Middle Name..">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="primaryResidence" class="col-md-4 form-control-label text-md-right">Primary Residence</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="primaryResidence reset" data-placement="top" placeholder="Primary Residence" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pictureID" class="col-md-4 form-control-label text-md-right">Picture ID</label>
                        <div class="col-md-8">
                            <input type="text" id="pictureID" class="form-control reset" data-placement="top" placeholder="Picture ID">
                        </div>
                    </div>
                    <div class="form-group row" id="divPAPPhoto">
                        <label for="PAPphoto" class="col-md-4 form-control-label text-md-right">PAP Picture</label>
                        <div class="col-md-8">
                            <input id="PAPphoto" name="PAPphoto" type="file" class="file" data-show-preview="false" data-theme="fas" data-show-upload="false" data-show-cancel="false" data-allowed-file-extensions='["jpg","jpeg","png"]' data-el-Error-Container="#PAPphoto-errors">
                        </div>
                        <div id="PAPphoto-errors"></div>
                    </div>
                    <div class="form-group row">
                        <label for="fileID" class="col-md-4 form-control-label text-md-right">File ID</label>
                        <div class="col-md-8">
                            <input type="text" id="fileID" class="form-control reset" data-placement="top" placeholder="File ID">
                        </div>
                    </div>
                </div>
                <div class='wizard-tab' stepname='step2'>
                    <div class="d-flex justify-content-between align-items-center">
                        <h6><i class="fas fa-coins"></i> Goods Details</h6>
                        <span class="small">#2</span>
                    </div>
                    <hr>
                    <div class="form-row alert alert-danger hiden" style="display:none" id="tableGoodsError"></div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>GPS ID</label>
                            <input type="text" id="gpsID" class="form-control reset" data-placement="top" placeholder="GPS ID">
                        </div>
                        <div class="col-md-3">
                            <label>Easting</label>
                            <input type="text" id="pointEasting" class="form-control reset" data-placement="top" placeholder="Easting" maxlength="9" pattern="\d*">
                        </div>
                        <div class="col-md-3">
                            <label>Northing</label>
                            <input type="text" id="pointNorthing" class="form-control reset" data-placement="top" placeholder="Northing" maxlength="10" pattern="\d*">
                        </div>
                        <div class="col-md-3">
                            <label>Elevation</label>
                            <input type="text" id="pointElevation" class="form-control reset" data-placement="top" placeholder="Elevation" maxlength="7" pattern="\d*">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Photo ID</label>
                            <input type="text" id="goodPictureID" class="form-control reset" placeholder="Photo" />
                        </div>
                        <div class="col-md-8">
                            <label>Upload Culture Photo</label>
                            <input id="goodPhoto" name="goodPhoto" type="file" class="file reset" data-show-preview="false" data-theme="fas" data-show-upload="false" data-show-cancel="false" data-allowed-file-extensions='["jpg","jpeg","png"]' data-el-Error-Container="#goodPhoto-errors">
                            <div id="goodPhoto-errors"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-7">
                            <label class="form-control-label" for="goodType">Goods Type</label>
                            <select class="form-control reset" id="goodType" data-placeholder="Goods Type"></select>
                        </div>
                        <div class="col-md-5">
                            <label class="form-control" for="ownershipType" style="visibility:hidden"> </label>
                            <label> <input id="ownershipType" type="radio" name="owner" value="U" /> Is User</label>
                            <label> <input id="ownershipType" type="radio" name="owner" value="P" /> Is Owner</label>
                        </div>
                    </div>

                    @* OWNER ZONE DETAILS *@
                    <div id="ownerDetails" style="display:none" class="hiden">
                        <hr />
                        <p class="help-block"><strong><i class="fas fa-portrait"></i> Person Details</strong></p>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label>First Name</label>
                                <input type="hidden" id="ownerPersonId" class="form-control reset" data-placement="top" placeholder="First Name">
                                <input type="text" id="ownerFirstName" class="form-control reset" data-placement="top" placeholder="First Name">
                            </div>
                            <div class="col-md-3">
                                <label>Middle</label>
                                <input type="text" id="ownerMiddleName" class="form-control reset" placeholder="Middle" />
                            </div>
                            <div class="col-md-4">
                                <label class="form-control-label" for="goodType">Last Name</label>
                                <input type="text" id="ownerLastName" class="form-control reset" placeholder="Last Name" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>Primary Residence</label>
                                <input type="text" class="form-control reset" id="ownerPrimaryResidence" data-placement="top" placeholder="Primary Residence" />
                            </div>
                            <div class="col-md-3">
                                <label>Photo ID</label>
                                <input type="text" id="ownerPhotoID" class="form-control reset" data-placement="top" placeholder="Photo ID">
                            </div>
                            <div class="col-md-3">
                                <label>File ID</label>
                                <input type="text" id="ownerFileID" class="form-control reset" data-placement="top" placeholder="File ID">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label>Owner Picture</label>
                                <input id="ownerPicture" name="ownerPicture" type="file" class="file reset" data-show-preview="false" data-theme="fas" data-show-upload="false" data-show-cancel="false" data-allowed-file-extensions='["jpg","jpeg","png"]' data-el-Error-Container="#ownerPicture-errors">
                                <div id="ownerPicture-errors"></div>
                            </div>
                        </div>
                    </div>

                    @* CULTURE ZONE *@
                    <div id="cultureDetails" style="display:none" class="hiden">
                        <hr />
                        <p class="help-block"><strong><i class="fas fa-seedling"></i> Culture </strong></p>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>Culture Name</label>
                                <input type="text" id="cultureName" class="form-control reset" data-placement="top" placeholder="Culture Name">
                            </div>
                            <div class="col-md-3">
                                <label class="form-control-label" for="fieldsPAP">Field Type</label>
                                <select class="form-control reset" id="fieldType" data-placeholder="Field Type"></select>
                            </div>
                            <div class="col-md-3">
                                <label>Surface</label>
                                <div class="input-group">
                                    <input type="number" class="form-control reset" aria-label="" id="cultureSurface">
                                    <select class="form-control bootstrap-select btn-primary reset" id="cultureSurfaceUOM">
                                        <option value="-1">UOM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-10">
                                <input type="text" class="form-control reset col-md-12" id="goodComments" placeholder="Add comment" />
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-default btn-rounded-f" type="button" id="addGoods">Add</button>
                            </div>
                        </div>
                    </div>

                    @* STRUCTURE ZONE *@
                    <div id="structureDetails" style="display:none" class="hiden">
                        <hr />
                        <p class="help-block"><strong><i class="fas fa-house-user"></i> Culture </strong></p>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Structure</label>
                                <select class="form-control reset" id="structureCode" data-placeholder="Structure Code"></select>
                            </div>
                            <div class="col-md-4">
                                <label>Toit</label>
                                <select class="form-control reset" id="toitCode" data-placeholder="Toiture"></select>
                            </div>
                            <div class="col-md-4">
                                <label>Mur</label>
                                <select class="form-control reset" id="murCode" data-placeholder="Mur"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label>Sol</label>
                                <select class="form-control reset" id="solCode" data-placeholder="Sol Code"></select>
                            </div>
                            <div class="col-md-3">
                                <label>Usage</label>
                                <select class="form-control reset" id="structureUsage"></select>
                            </div>
                            <div class="col-md-6">
                                <label for="structureLength">LengthxWidth</label>
                                <div class="row">
                                    <input type="number" class="form-control col-md-4 reset" id="structureLength" placeholder="Length" />
                                    <input type="number" class="form-control col-md-4 reset" id="structureWidth" placeholder="Width" />
                                    <input type="number" class="form-control col-md-3 reset" id="structurePiece" placeholder="pieces" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-10">
                                <input type="text" class="form-control reset col-md-12" id="structureComments" placeholder="Add comment" />
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-default btn-rounded-f" type="button" id="addStructure">Add</button>
                            </div>
                        </div>
                    </div>

                    @* TREES ZONE *@
                    <div id="treeDetails" style="display:none" class="hiden">
                        <hr />
                        <p class="help-block"><strong><i class="fas fa-tree"></i> Culture </strong></p>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>Tree Name</label>
                                <input type="text" class="form-control reset" id="treeName" placeholder="Tree Name" />
                            </div>
                            <div class="col-md-3">
                                <label>Maturity</label>
                                <select class="form-control reset" id="treeMaturity" placeholder="Maturity"></select>
                            </div>
                            <div class="col-md-3">
                                <label>Qty</label>
                                <input type="number" class="form-control reset" id="treeQty" placeholder="Qty" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-10">
                                <input type="text" class="form-control reset col-md-12" id="treeComments" placeholder="Add comment" />
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-default btn-rounded-f" role="button" id="addTree">Add</button>
                            </div>
                        </div>
                    </div>

                    @* GOODS TABLE DIV *@
                    <div id="tableGoodsArray">
                        <hr />
                        <p class="help-block"><strong><i class="fas fa-layer-group"></i> All goods </strong></p>
                        <div class="form-group row col-md-12">
                            <table class="table table-striped table-hover nowrap no-footer" id="propertiesTable">
                                <thead>
                                    <tr>
                                        <th>GPS</th>
                                        <th>Photo</th>
                                        <th style="display:none">Photo Url</th>
                                        <th>User</th>
                                        <th style="display:none">Good Type ID</th>
                                        <th>Good Type</th>
                                        <th>Good Name</th>
                                        <th style="display:none">Easting</th>
                                        <th style="display:none">Northing</th>
                                        <th style="display:none">Elevation</th>
                                        <th style="display:none">First Name</th>
                                        <th style="display:none">Middle Name</th>
                                        <th style="display:none">Last Name</th>
                                        <th style="display:none">Primary Residence ID</th>
                                        <th style="display:none">Primary Residence</th>
                                        <th style="display:none">Photo ID</th>
                                        <th style="display:none">File ID</th>
                                        <th style="display:none">Owner Picture</th>
                                        <th style="display:none">Field ID</th>
                                        <th style="display:none">Field Name</th>
                                        <th style="display:none">Surface</th>
                                        <th style="display:none">Structure ID</th>
                                        <th style="display:none">Structure Code</th>
                                        <th style="display:none">Roof ID</th>
                                        <th style="display:none">Roof Code</th>
                                        <th style="display:none">Wall ID</th>
                                        <th style="display:none">Wall Code</th>
                                        <th style="display:none">Soil ID</th>
                                        <th style="display:none">Soil Code</th>
                                        <th style="display:none">Usage ID</th>
                                        <th style="display:none">Usage Name</th>
                                        <th style="display:none">Length</th>
                                        <th style="display:none">Width</th>
                                        <th style="display:none">Room</th>
                                        <th style="display:none">Maturity ID</th>
                                        <th style="display:none">Maturity Name</th>
                                        <th style="display:none">Tree Qty</th>
                                        <th style="display:none">Comments</th>
                                        <th style="display:none">Surface UOM</th>
                                        <th style="display:none">Surface UOM Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="propertyTableBody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loader" style="display:none"></div>
            <div class="modal-footer">
                <div>
                    <button type="button" class='btn btn-primary btn-add' id="cancelPAP" onclick="resetModal('addPAPLACModal')">Cancel</button>
                    <button type="button" class='btn btn-secondary btn-prev'>Previous</button>
                    <button type="button" class='btn btn-primary btn-next'>Next</button>
                    <button class='btn btn-success btn-end' type="submit">Save and Add</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            var lacID = $("#lacIdField").val();
            var landId = $("#landIdField").val();
            LoadPapLac(lacID);
            LoadIncludingRestrictedArea(lacID);
            loadVillageTable(landId);
            loadPointTable(landId);

            $("#landPoint").fileinput({
                uploadUrl: "/Land/UploadGPSFile",
                uploadAsync: false,
                showPreview: false,
                showCancel: false,
                allowedFileExtensions: ['csv', 'xls', 'xlsx'],
                theme: "fas",
                uploadExtraData: {
                    'LandId': landId,
                },
                elErrorContainer: '#kv-error-1'
            }).on('filebatchpreupload', function (event, data, id, index) {
                if (!window.confirm("Are you sure you want to upload this file? All point will be deleted!")) {
                    return {
                        message: "Upload aborted!",
                        data: {}
                    };
                }
            }).on('filebatchuploadsuccess', function (event, data) {
                loadPointTable(landId);
            });

            $('#addPAPLACModal').wizard({
                onnext: function (stepname, i) {
                    if (!$('form')[0].reportValidity())
                        return false;

                    switch (stepname) {
                        case 'step1':
                            // Not accepting the progress to the next step
                            var errors = [];
                            if ($('#addPAPLACModal #PersonId').val() == null || $('#addPAPLACModal #PersonId').val() == "") {
                                if ($('#addPAPLACModal #firstName').val() == null || $('#addPAPLACModal #firstName').val() == "")
                                    errors.push("Please add the First Name");
                                if ($('#addPAPLACModal #PAPphoto').val() == null || $('#addPAPLACModal #PAPphoto').val() == "")
                                    errors.push("Please upload the PAP picture");
                                if ($('#addPAPLACModal #primaryResidence').val() == null || $('#addPAPLACModal #primaryResidence').val() == "")
                                    errors.push("You did not specify the Primary Residence");
                                if ($('#addPAPLACModal #pictureID').val() == null || $('#addPAPLACModal #pictureID').val() == "")
                                    errors.push("You did not put Picture ID");
                            }
                            if ($('#addPAPLACModal #fileID').val() == null || $('#addPAPLACModal #fileID').val() == "")
                                errors.push("Please add the file ID");

                            if (errors.length > 0) {
                                var errorMessage = "<ul>";

                                $.each(errors, function (index, value) {
                                    errorMessage += "<li>" + value + "</li>";
                                });
                                errorMessage += "</ul>";
                                $("#addPAPLACModal #papDetailsError").html(errorMessage).show(250);
                                return false;
                            }
                            break;
                    }
                    return true;
                },
                onend: function () {
                    insertPAPLAC();
                }
            });
        });
    </script>
}